@model IEnumerable<Assignment1_ASP.Models.Patient>


@{
    ViewData["Title"] = "PatientInfo";
}

<h1>PatientInfo</h1>

<p>
    <a asp-action="Add">Add New Patient</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Reading
            </th>
            <th>
                Category
            </th>
            <th>
                Position
            </th>
            <th>
                Date
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td style="color:@item.Category("colour")">
                    @item.Stylostic/@item.Diastolic
  
            </td>
            <td style="color:@item.Category("colour")">
                @item.Category("health")
            </td>
            <td>
                @item.Position.Name
            </td>
            <td>
                    @item.Date.ToString("yyyy/MM/dd")
            </td>
            <td>
                    <a asp-controller="Patient" asp-action="Edit"
                       asp-route-id="@item.PatientId">
                        Edit
                    </a>
                 |
                    <a asp-controller="Patient" asp-action="Delete"
                       asp-route-id="@item.PatientId">
                        Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
